@import url('https://fonts.googleapis.com/css2?family=Tauri&display=swap');

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number']{
    -moz-appearance: textfield;
}
.flex{
    display: flex;
}
.navbar{
    color: white;
    width: 100%;
}
header{
    background-color: #2d67b4;
}
.mini-nav{
    /* width: 100%; */
    justify-content: space-between;
    align-items: center;
    height: 10px;
    padding: 12px 10px;
    margin-bottom: 20px;
    /* background-color: red; */
}
.mini-nav img{
    margin-right: 10px;
    border: none;
    width: 20px;
    height: 20px;
    filter: invert();
}
.main-nav-text{
    text-align: start;
}

.main-nav{
    /* background-color: red; */
    height: 100px;
    justify-content: space-between;
    align-items: center;
    padding: 13px 16px;
    margin-bottom: 10px;
}
.main-nav h2{
    cursor: pointer;
}
.main-nav-text h2{
    font-size:30px;
    margin-top: 2px;
}
.main-nav-text h3{
    font-weight: lighter;
    margin-top: 4px;
    font-size: 18px;
}
.main-nav .logo img{
    width: 120px;
    height: auto;
    padding: 5px 0s;
    margin-right:8px;
    cursor: pointer;
}
.main-nav-flag img{
    width: 70px;
    height: auto;
    margin-right: 6px;
}
.nav-news{
    height: 20px;
    font-size: 18px;
    background-color: #2a5690;
    align-items: center;
    padding: 6px 10px;
    color: black;
    border-bottom: 2px solid #2d67b4;
}
marquee a{
    transition: 4s ease ;
    color: white;
    font-size: 14px;
    font-family: arial;
    text-decoration: none;
}
.nav-list{
    background-color:white;
    padding:0 20px 0px 10px;
    font-size: 16px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 3px solid whitesmoke;
}
.list-menu{
    height: 25px;
    justify-content: end;
    width: 100%;
    color: red;
    display: none;
}
.list-menu img{
    cursor: pointer;
}
.nav-list ul{
    text-decoration: none;
    padding: 10px 0;
}
.nav-list ul li{
    font-family: arial;
    display: inline;
    width: 100%;
    height: 32px;
    cursor: pointer;
    color: black;
    margin-right:4vw;
    border-radius: 4px;
    border: none;
    padding: 4px 5px;
    transition: 0.3s ease ;
}
.nav-list ul li:hover{
    background-color: #2a5690;
    color:white;
}
.nav-list ul li select{
    background-color: #fff;
    appearance: none;
  background-image: none;
  width: 70px;
}
.nav-list ul li select:hover{
    background-color: #2a5690;
    color: white;
    transition: 0.4s ease;
}
.nav-list select option:hover{
    background-color: #2a5690;
    color: white;
    transition: 0.4s ease;
}
.nav-list button{
    background-color: #2d67b4;
    height: 32px;
    padding: 2.5px 8.5px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    color:white;
}
.nav-list button:hover{
    background-color: #2a5690;
}

@media only screen and (max-width:600px){
    .mini-nav{
        margin-bottom: 5px;
        padding: 8px 5px;
    }
    .nav-logo{
        /* display: inline; */
        flex-wrap: wrap;
        font-size: 3vw;

    }
    .nav-logo .logo img{
        width: 11vw;
    }
    .main-nav{
        height: 60px;
        margin-bottom: 5px;
    }
    .main-nav-text h2{
        font-size: 4vw;
    }
    .main-nav-text h3{
        font-size: 2vw;
    }
    .main-nav-flag img{
        width:45px;
        height: auto;
        margin-right: 0px;
        margin-top: 15px;
        margin-left: 4px;
    }
    .nav-list{
        height:35px;
    }
    .nav-list .successHomeBtn{
        width: 170px;
        font-family: arial;
        height: 28px;
        padding: 1px 5px;
        margin-right: 10px;
        font-size: 10px;
        font-weight: 600;
    }
    .nav-list #employee-login-btn{
        width: 140px;
        font-family: arial;
        height: 28px;
        padding: 1px 5px;
        margin-right: 10px;
        font-size: 10px;
        font-weight: 600;
    }
    .nav-news{
        font-size:3vw;
    }
    .list-menu{
        display: flex;
    }
    .list-menu img{
        margin-right: -10px;
    }
    .mini-nav img{
        width: 15px;
        height: 15px;
    }
    .nav-list-items{
        display: none;
    }
    .mobileNavList li a{
        display: block;
    }
}