<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Welcome Email</title>
</head>
<body>
  <h2>Thank you for submitting application! </h2>
  <p>We have successfully recieved your  </p>
</body>
</html>