.flex{
    display: flex;
    color: white;
}
.footer{
    text-align: start;
    width: 100%;
}

.foot-office-details h2{
    font-size: 24px;
}
.foot-office-details h3{
    font-size: 15px;
    font-weight: lighter;
}
.foot-office-details h4{
    font-size: 12px;
    font-weight: lighter;
}
.foot-office-details h5{
    font-size: 12px;
    font-weight: lighter;
    margin-top: 15px;
}
.foot-office-details span{
    font-size: 10px;
    font-weight: 100;
}
.footer-logo img{
    width: 80px;
    cursor: pointer;
}
.foot-egovServices {
    margin-left: 5vw;
}
.foot-egovServices li{
    font-size: 14px;
    font-weight: normal;
}
.important-links{
    margin-left: 3vw;
}
.foot-egovServices li,.important-links  li{
    margin-top: 3px;
    cursor: pointer;
}
.footer-first{
    background-color: #2d67b4;
    padding: 30px 25px;
}
.footer-second{
    background-color: #2a5690;
    width: 100%;
    height: 30px;
    text-align: center;
    font-size: 12px;
    align-items: center;
    justify-content: center;
}
.location{
    margin-left: 2vw;
}
.location iframe{
    width: 330px;
}

@media only screen and (max-width:600px){
    .footer-first{
        padding: 10px 5px;
    }
    .footer-logo img{
        width: 11vw;
        height: auto;
    }
    .foot-office-details h2{
        font-size: 4vw;
    }
    .foot-office-details h3{
        font-size: 2vw;
        margin-top: 2px;
    }
    .foot-office-details h4{
        font-size: 1.7vw;
        margin-top: 1.5px;
    }
    .foot-office-details h5{
        font-size: 1.7vw;
        margin-top: 5px;
    }
    .foot-office-details span{
        font-size: 1.5vw;
    }
    .foot-egovServices h3, .important-links h3, .location h3{
        font-size: 3.5vw;
    }
    .foot-egovServices li,.important-links  li{
        font-size: 2vw;
    }
    .location{
        margin-left: 2.5vw;
    }
    .footer-second{
        font-size: 2vw;

    }
}