.allDeathAppDetails p{
    color: black;
}
.statusVerified{
    color: green;
}
.singleBirth,.singleDeath{
    display: flex;
    justify-content: center;
}
.adminHome{
    margin-top: 0;
    display: flex;
    justify-content: center;
    width: 100vw;
    font-family: arial;
    padding: 8px 3px;
    text-align: center;
    background-color: white;
}
.adminSidebar{
    height: 100%;
    width: 150px;
    border-right: 5px solid #f3f4f6;
}
.adminSidebar .logo img{
    margin-top: 30px;
    width: 100px;
    margin-bottom: 10px;
}
.adminSide h4{
    margin-top: 12px;
    cursor: pointer;
    padding: 2px 3px;
    border-radius: 4px;
}
.adminSide h4:hover{
    background-color: #2a5690;
    color: white;
}
.adminSide button {
    margin-top: 15px;
    padding: 4px 6px;
    cursor: pointer;
    background-color: #2d67b4;
    border: none;
    color: white;
    border-radius: 4px;
}
.adminSide button:hover{
    background-color: #2a5690;
}
.adminMain{
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 2px;
    background-color: #f3f4f6;
    width: 86%;
    height: 100vh;
    color: red;
}
.adminMain h1{
    margin-top: 10px;
    text-align: center;
    font-size: 32px;
}
.adminMain h2{
    font-size: 18px;
    font-weight: normal;
    margin-top: 8px;
    padding-bottom: 12px;
    border-bottom: 5px solid white;
}

.mainApplications{
    height: 100%;
    /* display: none; */
    background-color: #fff;
    
}
.adminDashboard{
    padding-top: 5px;
}
.adminDashboard h2{
    color:#2a5690;
    height: 10px;
    font-size: 30px;
    text-decoration: dashed;
}
.totalApplications{
    margin-top: 5px;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
}
.totalApplications h4{
    margin-top: 4vw;
    border-right: 1px solid rgb(232, 232, 232);
    color: black;
}
.allDeathApplications, .allBirthApplications{
    padding-top: 10px;
}
.allDeathApplications h3, .allBirthApplications h3{
    font-size:30px;
    padding-bottom:4px;
    color: #2a5690;
    border-bottom: 2px solid rgb(238, 239, 240);
    font-weight: normal;
}
.allDeathAppDetails, .allBirthAppDetails{
    margin: 30px 30px 5px 40px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
 .adminActions button{
    padding: 4px 6px;
    cursor: pointer;
    background-color: #2d67b4;
    border: none;
    color: white;
    border-radius: 4px;
    margin-right: 10px;
}
.adminActions button:hover{
    background-color: #2a5690;
}
.allDeathAppDetails span, .allBirthAppDetails span{
    border: none;
}
.allDeathAppDetails p, .allBirthAppDetails p{
    border-top: 1px solid rgb(238, 239, 240);
    border-bottom: 1px solid rgb(238, 239, 240);
    margin-top: 7px;
    padding: 2px;
    color: black;
    font-weight: lighter;
    font-size: 13px;
}
.statusVerified{
    color: green;
}
.singleDeath label, .singleBirth label{
    font-weight: lighter;
    font-size: 12px;
}
#singleSmallSpan, #sspan{
    color:red;
    font-size: 12px;
    border: none;
    font-weight: lighter;
  }
.birthApplication ,.deathApplication{
    padding: 10px 20px;
    margin: 5px 0;
    background-color: white;
    width: 820px;
    height: 100%;
    border: none;
    border-radius: 5px;
    color: black;
}
.singleAppBtn{
    display: flex;
    justify-content: center;
    height: 10vh;
}
.singleAppBtn button{
    margin-top: 5px;
    height: 25px;
    width: 20%;
    cursor: pointer;
    margin-right: 20px;
}
.singleAppBtn button:hover{
    background-color: #2a5690;
    color: white;
    padding: 2px 6px;
    border: none;
}
@media only screen and (max-width:600px){
    .adminSidebar .logo img{
        width: 80px;
    }
    .adminSide{
        font-size: 3vw;
    }
    #adminMain{
        margin-left: 2px;
    }
    #adminMain h1{
        font-size: 4.5vw;
    }
    #adminMain h2{
        font-size: 2.5vw;
    }
    .allDeathApplications h3{
        font-size: 3.8vw;
    }
}