
.admin{
    margin: 0;
    padding: 0;
}
.adminLogin{
    height: 100%;
    width: 100%;
    /* background-color: white; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.adminLogo{
    margin-top: 30px;
    text-align: center;
    color: white;
}
.adminLogo h2{
    font-size: 30px;
    margin-top: 3px;
}
.adminLogo h3{
    font-size: 18px;
    margin-top: 3px;
    font-weight: lighter;
}
.loginForm{
    background-color: rgb(244, 244, 244);
    height: 250px;
    width: 40%;
    margin-top: 25px;
    border-radius: 8px;
    padding: 20px;

}

.adminAuth{
    padding: 45px;
    padding-left: 20%;
}
.adminAuth h5{
    display: inline;
    margin-left: 9px;
    cursor: pointer;
    font-weight: normal;
}
#adminLoginBtn{
    padding: 5px 7px 6px 7px;
    cursor: pointer;
    border: none;color: white;
    border-radius: 5px;
    background-color: #2d67b4
}
#adminLoginBtn:hover{
    background-color: #2a5690;
    color:white
}
.adminAuth input{
    margin-top: 2px;
    padding: 2.5px 5px;
}

@media only screen and (max-width:600px){
    .adminLogo{
        margin-top: 20px;
    }
    .adminLogo img{
        width: 90px;
    }
    .adminLogo h2{
        font-size: 25px;
        margin-top: 3px;
    }
    .adminLogo h3{
        font-size: 9px;
        margin-top: 3px;
        font-weight: lighter;
    }
    .adminLogin{
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }
    .loginForm{
        width: 75%;
        padding: 10px;
    }
    .adminAuth{
        padding: 30px 45px 0px 50px;
    }

}