#statusStyle{
    display: inline;
    color: red;
    font-weight: normal;
    border-bottom: 1.2px dashed red;
}
.applicationStatus{
    display: flex;
    height: 280px;
    justify-content: center;
    background-color: rgb(236, 236, 237);
    width: 100%;
    padding-top: 50px;
}
.appStatusText h2{
    color: #2a5690;
    text-transform: uppercase;
    text-decoration: underline;
}
.applicationIdInput{
    text-align: center;
    margin-top: 60px;
}
.applicationIdInput input{
    padding: 4px 8px;
    border-radius: 4px;
    border: 2px solid white;
    margin-bottom: 20px;
}
.applicationIdInput input[type='number']{
    -moz-appearance: textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.appStatusBtn button{
    margin-top: 15px;
    margin-right: 20px;
    border: none;
    background-color: #2d67b4;
    padding: 5px 8px;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}
.statusOfApplication{
    margin-top: 29px;
    margin-left: 105px;
    text-align: center;
    height: 10px;
    width: 50%;
}
.downloadBtn{
    margin-top: 10px;
    padding: 4px 6px;
}
.downloadBtn:hover{
    background-color: #2d67b4;
    color: white;
    border: none;
    border-radius: 4px;
}