@import url('https://fonts.googleapis.com/css2?family=Tauri&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.flex{
    display: flex;
}
.sweet-loading{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
.homeBabai{
    height: 100vh;
    width: 100%;
}
.hero{
    padding-top: 12px;
    width: 100%;
    background-color: white;
}
.hero img{
    width: 100%;
    height: 550px;
}
.staff{
    background-color: rgb(240, 239, 239);
    padding: 8px 0 9px 0;
    width: 100%;
    justify-content: space-evenly;
}


@media only screen and (max-width:600px){
    .hero img{
        height: 330px;
    }
    .staff{
        
    }
}