@import url('https://fonts.googleapis.com/css2?family=Tauri&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{font-family: "Tauri", sans-serif;;
    padding: 2px 70px;
    background-color: #355d90;
    /* display: flex */
}
@tailwind base;
@tailwind components;
@tailwind utilities;

@media only screen and (max-width:600px){
    body{
        padding: 1px;
    }
}