.birth-form{
    height: 900px;
    background-color: rgb(220, 222, 223);
    
}
.birth-text{
    text-align: center;
    padding-top: 20px;
    font-size: 25px;
    margin-top: 5px;
}
label{
    font-weight: lighter;
}
#one{
    font-size: 15px;
}
#two{
    font-size: 13px;

}
.birth-details{
    font-family: arial;
    font-weight: normal;
    background-color: whitesmoke;
    padding: 20px 70px;
}
.birth-application{
    display: flex;
    margin: 10px 70px;
    padding: 55px 0;
    background-color: white;
    justify-content: center;
    align-items: center;
    width: 1000px;
    height: 500px;
    border: none;
    border-radius: 5px;
    color: black;
}
.submit-btn{
    text-align: center;
    display: flex;
    justify-content: center;
}
.margin-top{
    margin-top: 5px;
}
.margin-top2{
    margin-top: 15px;
}
#birth-app-btn{
    padding: 8px 6px;
    /* border: none; */
    border-radius: 6px;
    height: 30px;
    display: flex;
    align-items: center;
}
#birth-app-btn:hover{
    background-color: #2a5690;
    color: white;
}
.margin-left{
    margin-left: 10px;
}
.margin-left2{
    margin-left: 5px;
}
span{
    border-bottom: 1px solid #2a5690;
    font-weight: bold;
    font-size: 16.5px;
}
.note-for-certificate{
    display: flex;
    color: red;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.note{
    border: none;
    font-size: 13px;
}