.card{
    border: 2px solid white;
    width: 260px;
    height: 360px;
    background-color: white;
    border-radius: 9px;
}
.photo{
    padding: 10px;
}
.photo img{
    width: 240px;
    height: 240px;
}
.photo-details{
    color: black;
    text-align: center;
}
#staffPosition{
    color:#355d90;
    margin-top: 5px;
    margin-bottom: 8px;
}
#staffContacts{
    color:#2d67b4;
    font-size: 11px;
    font-weight: lighter;
}
.staffPhone{
    padding-top: 1px;
}

@media only screen and (max-width:600px){
    .staff{
        display: flex;
        flex-wrap: wrap;
    }
}